   
   .next {
    background-color: crimson;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 30px;
    box-shadow: 0px 1px 5px black;
    border: 1px solid black;
   }

   @media(min-width: 1024px) {

    .next:hover {
        background-color: brown;
    }
    }